.App {
  text-align: center;
  height: 100%;
  background-color: #1f1d2c;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background-circle-1 {
  height: 95vw;
  width: 95vw;
  border-radius: 100%;
  position: fixed;
  left: -50vw;
  top: -40vw;
  background: rgb(41, 200, 105);
  background: linear-gradient(
    150deg,
    rgba(41, 200, 105, 1) 0%,
    rgba(41, 200, 105, 1) 30%,
    rgba(30, 148, 231, 1) 100%
  );
  filter: blur(1px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.background-circle-2 {
  height: 95vw;
  width: 95vw;
  border-radius: 100%;
  position: fixed;
  right: -50vw;
  bottom: -40vw;
  background: rgb(41, 200, 105);
  background: linear-gradient(
    150deg,
    rgba(41, 200, 105, 1) 0%,
    rgba(41, 200, 105, 1) 30%,
    rgba(30, 148, 231, 1) 100%
  );
  filter: blur(1px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}
